body {
  padding: 0;
  margin: 0;
  background-color: #fff4e6;
  font-family: 'Roboto', sans-serif;
  height: 3000px;
}

/* HEADER */
.header {
  background-color: #fceca4;
  padding: 7px;
  display: flex;
  border-bottom: 1px solid
}

.right {
  flex: 1;
  padding: 15px;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Slabo 27px', serif;
  font-weight: 700;
  transform: rotateX(180deg);
  transition: all .7s linear;
  cursor: pointer;
}

.right:hover {
  transform: rotate(0)
}

.left {
  padding: 10px;
  font-size: .7rem;
  font-weight: blod;
  color: rgb(18, 199, 231)
}

/* ABOUT */
.about {
  margin-top: 5em;
  display: flex;
  justify-content: space-around
}

.about .about_right {
  background: url('./images/me.jpg');
  background-size: cover;
  width: 50vw;
  height: 100vh
}

.about .about_left h2, h4 {
  text-align: center;
  margin-bottom: 5px
}

.about .about_left .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 100%;
  padding: 5px;
}

.about .about_left .content p{ 
  color: red; 
  text-transform: uppercase; 
  font-size: 1.2rem;
  margin-top: 2em
}


/* SKILLS */
.skills {
  margin-top: 3em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items:center  
}

.skills span {
  margin-right: 5px
}

.skills img {
  width: 100px;
  height: 100px
}